# history search for begin of command
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward
Control-p: history-search-backward
Control-n: history-search-forward

# delete word with Ctrl+Backsp
# "\C-h": backward-kill-word

# delete word forward
"\e[3;5~": kill-word

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
